/* Estilos generales */
body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f8f9fa;
  color: #343a40;
}

.container {
  max-width: 1200px;
  margin: auto;
  padding: 0 20px;
}

/* Estilos para el encabezado */
.header {
  background-color: #007bff;
  color: #fff;
  padding: 40px 20px;
}

.logo {
  width: 120px;
  height: 120px;
}

.title {
  margin-top: 20px;
}

.description {
  margin-top: 20px;
  font-size: 18px;
}

/* Estilos para las secciones */
.section {
  padding: 40px 0;
}

.section-title {
  margin-bottom: 20px;
  font-size: 28px;
}

/* Estilos para las tarjetas de enlaces */
.card-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.card {
  flex: 1;
  text-align: center;
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  margin: 0 10px 20px;
}

.card-icon {
  width: 50px;
  height: 50px;
}

.card-title {
  margin-top: 10px;
  font-size: 20px;
}

/* Estilos para los badges */
.badge-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.badge {
  margin: 5px;
}

/* Estilos para los proyectos destacados */
.project-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

/* Estilos para el footer */
.footer {
  background-color: #343a40;
  color: #fff;
  text-align: center;
  padding: 40px 20px;
}
